# Database Configuration
MSSQL_SERVER=your_server_ip
MSSQL_DATABASE=pos_shoes
MSSQL_USERNAME=your_username
MSSQL_PASSWORD=your_password
MSSQL_PORT=1418

# Redis Configuration
REDIS_URL=redis://redis:6379/0
REDIS_PASSWORD=your_redis_password
REDIS_HOST=redis
REDIS_PORT=6379

# Email Configuration
SMTP_SERVER=mail.datag.co.ke
SMTP_PORT=465
SMTP_USERNAME=datag@datag.co.ke
SMTP_PASSWORD=your_smtp_password

# Grafana Cloud Configuration
GRAFANA_LOKI_URL=https://logs-prod-012.grafana.net
GRAFANA_PYROSCOPE_URL=https://profiles-prod-002.grafana.net
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-prod-eu-west-2.grafana.net/otlp/v1/traces
OTEL_AUTH=your_otel_auth_token
GRAFANA_USERNAME=your_grafana_username
GRAFANA_PASSWORD=your_grafana_password

PYRO_USER=your_pyro_user
PYRO_PASS=your_pyro_pass

# Application Configuration
PYROSCOPE_APPLICATION_NAME=file-safe-service
OTEL_SERVICE_NAME=file-safe-service
ENVIRONMENT=production

# Encryption Configuration (AES-256 requires 32 bytes key)
ENCRYPTION_KEY=your_32_character_encryption_key
