amqp==5.3.1
billiard==4.2.4
celery==5.3.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==46.0.3
dnspython==2.8.0
email-validator==2.1.0
googleapis-common-protos==1.72.0
greenlet==3.3.0
grpcio==1.76.0
idna==3.11
importlib_metadata==8.7.0
kombu==5.6.1
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-instrumentation-celery==0.60b1
opentelemetry-instrumentation-logging==0.60b1
opentelemetry-instrumentation-redis==0.60b1
opentelemetry-instrumentation-sqlalchemy==0.60b1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
packaging==25.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
protobuf==6.33.2
pycparser==2.23
PyJWT==2.10.1
pymssql==2.3.0
pyroscope-io==0.8.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger==4.0.0
redis==4.6.0
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.23
SQLAlchemy-Utils==0.41.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.1
vine==5.1.0
wcwidth==0.2.14
wrapt==1.17.3
zipp==3.23.0
