celery==5.3.4
redis==4.6.0
sqlalchemy==2.0.23
sqlalchemy-utils==0.41.1
python-dotenv==1.0.0
email-validator==2.1.0
psycopg2==2.9.9
pymssql==2.3.0
PyJWT==2.10.1

# Grafana Cloud Observability
pyroscope_io
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-logging


# Logging to Loki
prometheus-client
python-json-logger

# HTTP requests for Loki
requests